<script>
  $(function addEventListenerToForm() {
    $('form').submit(function (e) {
      e.preventDefault()
      let values = $(this).serialize();
      let id = jQuery( "#grade_id:hidden" ).val()
      let posting = $.post('/grades/' + id + '.json', values);
      posting.done(function(data) {
        console.log(data)
        $('#grade-letter').html(data.letter)
        // debugger
      });
    })
  })
</script>

Current Grade:<div id="grade-letter"><%= @grade.letter %></div>


<!-- <%= link_to "Edit Grade", edit_grade_path %> -->

<%= form_for @grade do |f| %>
  <%= f.label :letter %>
  <%= f.hidden_field :id %>
  <%= select_tag :letter, options_for_select(["A","B","C","D","F","NG"]) %>
  <%= f.submit "Test" %>
  <% end %>
