<script>
  $(function addEventListenerToForm() {
    let id = jQuery( "#grade_id:hidden" ).val()
    $('form').on('click',function (e) {
      if (e.target.dataset.disableWith) {
        e.preventDefault()
        let values = $(this).serialize();
        let posting = $.post('/grades/' + id + '.json', values);
        posting.done(function(data) {
        console.log(data)
        $('#grade-letter').html(data.letter)
        });
      }
    })
  });
</script>
<!-- <%= javascript_include_tag "gradeshowpage.js" %> -->
<div id="grade-letter"><em>Current Grade:</em><%= @grade.letter %></div>


<!-- <%= link_to "Edit Grade", edit_grade_path %> -->
<br>
<%= form_for @grade do |f| %>
  <%= f.label :letter %>
  <%= f.hidden_field :id %>
  <%= select_tag :letter, options_for_select(["A","B","C","D","F","NG"]) %>
  <%= f.submit "Update Grade", id: "submitButton" %>
  <% end %>
<br>
  <%= link_to "Return to Profile", profiles_path(@user) %>
