<h2>Teacher</h2>
<h3>Sign up or <%= link_to "Login", new_session_path %></h3>

<% if @user.errors.any? %>
  <div id="field_with_errors">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @user, url: "/teacher_login" do |f| %>
  <%= f.label "name" %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label "email:" %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.label "password:" %>
  <br>
  <%= f.password_field :password %>
  <br>
  <br>
<%= f.submit "Sign Up" %>
<% end %>
