<h2>Teacher Page</h2>
<h3> Welcome, <%= @user.name %>! </h3>
<h3>Your courses:</h3>
<% @user.role.courses.each do |course| %>
<%= course.name %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Students</th>
      <th scope="col">Grade</th>
        </tr>
  </thead>
  <tbody>
    <tr>
    <% unless course.students.empty? %>
    <% course.students.each do |student| %>
    <th scope="row"><%= student.user.name %></th>
      <td><a href="/grades/<%= student.grade(course).id %>" data-"<%= student.grade(course).id %>"> View Grade </a></td>
    </tr>
      <% end %>
      <% else %>
      <th scope="row"> No Students Yet! </th>
      <td></td>
    </tr>
    <% end %>

 </tbody>
</table>
<% end %>
<%= link_to "View all courses", profiles_courses_path %>
<br>
<%= link_to "Create a new course", new_profiles_course_path %>
<br>
<%= link_to "Log Out", session_path(@user), method: "delete" %>
