<h2>Teacher Page</h2>
<h3> Welcome, <%= @user.name %>! </h3>
<h3>Your courses:</h3>
<ul>
<% @user.role.courses.each do |course| %>
<li><%= course.name %></li>
    <% unless course.students.empty? %>
    <p>Students:</p>
    <% course.students.each do |student| %>
    <%= student.student_name(student.id) %>
      <% end %>
    <% end %>
<% end %>
</ul>
<%= link_to "View all courses", courses_path %>
<br>
<%= link_to "Create a new course", new_course_path %>
<br>
<%= link_to "Log Out", session_path(@user), method: "delete" %>

