<h3>Log In</h3>
<%= form_for @user, url: '/session' do |f| %>
<%= f.label "email:" %><br>
<%= f.text_field :email %><br>

<%= f.label "password:" %><br>
<%= f.password_field :password %><br>
<br>
<%= f.submit "Sign In" %>
<% end %>
<br>
<%= link_to "Return Home", root_path %>
