<h3>Course Catalogue</h3><br>


<h4>Fall 2018</h4>
<% Course.fall_semester.each do |course| %>
<div class="<%=course.id%>">
<p><%= link_to course.name, profiles_course_path(course), class: "coursesFall", id: "#{course.id}" %></p>
</div>
<%end%>
<script>
  $(function addEventListenerToLink() {
    $('a.coursesFall').on('click',function(e) {
      e.preventDefault()
      $.get(e.target.href, function(data) {
        let courseAppender = new Appender
        courseAppender.fallCourseIndexPage(data)
      })
    })
  })
</script>
<br>
<h4>Winter 2019</h4>
<% Course.winter_semester.each do |course| %>
<div class="<%=course.id%>">
<p><%= link_to course.name, profiles_course_path(course), class: "coursesWinter" %></p>
</div>
<%end%>
<script>
  $(function addEventListenerToLink() {
    $('a.coursesWinter').on('click',function(e) {
      e.preventDefault()
      $.get(e.target.href, function(data) {
        let courseAppender = new Appender
        courseAppender.winterCourseIndexPage(data)
      })
    })
  })
</script>

 <% if @user.role_is?(Student) %>
 <br>
 <%= link_to "Enroll In Course", new_enrollment_path %>
 <% end %><br>
 <%= link_to "Return to your profile", profiles_path(@user) %>
