<h3>Create your course here!</h3>

<%= form_for @course do |f| %>
<%= f.label :course_name %>:
<br>
<%= f.text_field :name %>
<br>
<%= select_tag :semester, options_for_select(Course::SEMESTER_OPTIONS)  %>
<%= f.submit "Submit Course" %>
<% end %>
