<h2>Student Page</h2>

<h3> Welcome, <%= @user.name %>! </h3><br>

<h4>Your courses:</h4><br>

<p><u>Fall 2018</u></p>
<% @user.role.fall_2018.each do |course| %>
<p><%= course.name %></p>
<% end %><br>

<p><u>Winter 2019</u></p>
<% @user.role.winter_2019.each do |course| %>

<p><%= course.name %></p>
<% end %>

<br>
<%= link_to "View Course Catalogue", courses_path %>
<br>
<%= link_to "Log Out", session_path(@user), method: "delete" %>
