<h2>Student Page</h2>

<h3> Welcome, <%= @user.name %>! </h3><br>

<h4>Your courses:</h4><br>

<p><u>Fall 2018</u></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Course Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Enrolled On</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<% @user.role.enrollments.for_semester("Fall 2018").each do |enrollment| %>
<th scope="row"><%=enrollment.course_name %></th>
<td><%= enrollment.grade_letter %></td>
<td><%= enrollment.enrollment_date %></td>
</tr>
<% end %>
  </tbody>
</table>

<p><u>Winter 2019</u></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Course Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Enrollment On</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<% @user.role.winter_2019.each do |course| %>
<th scope="row"><%=course.name %></th>
  <td><%= course.course_grade(@user.role).letter%></td>
  <td><%= @user.role.enrollments.find_by(course: course).enrollment_date %></td>
</tr>
<% end %>
 </tbody>
</table>
<br>
<%= link_to "View Course Catalogue", profiles_courses_path %>
<br>
<%= link_to "Log Out", session_path(@user), method: "delete" %>
