<!DOCTYPE html>
<html>
  <head>
    <title>Classroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <style>
        .jumbotron {
            margin-bottom: 0px!important;
        }
        h1 {
          margin-left: 15px;
        }
    </style>
  </head>


  <body>
<div class="jumbotron" style="background-color: #CCE5FF"  >
  <h1 style="font-weight:300 "><em>Classroom</em></h1>
</div>


  <div class="row">
      <div class="col-sm-3" style="padding-left:30px">
        <%= yield %>
      </div>
      <div class="col-sm-9">
      <img src="<%= asset_path('classroompic.jpg') %>" alt="Classroom Picture" class="img-fluid"  >
    </div>
    </div>
   </div>
  </div>

  </body>
</html>
